
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontendPrueba-primary: mat.define-palette(mat.$indigo-palette);
$frontendPrueba-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontendPrueba-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontendPrueba-theme: mat.define-light-theme((
  color: (
    primary: $frontendPrueba-primary,
    accent: $frontendPrueba-accent,
    warn: $frontendPrueba-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontendPrueba-theme);

// Importa los archivos de la carpeta 'animate'
// @import '@sass/animate/.borrar.md';

// Importa los archivos de la carpeta 'colors'
@import '@sass/colors/_buttonColor.scss';
@import '@sass/colors/_footerColor.scss';
@import '@sass/colors/_formColor.scss';
@import '@sass/colors/_inputColor.scss';
@import '@sass/colors/_lightColor.scss';
@import '@sass/colors/_modalsColor.scss';
@import '@sass/colors/_navegationColor.scss';

// Importa los archivos de la carpeta 'fonts'
@import '@sass/fonts/fontStyle.scss';

// Importa los archivos de la carpeta 'functions'
// @import '@sass/functions/.borrar.md';

// Importa los archivos de la carpeta 'inherence'
@import '@sass/inherence/_flexCenter.scss';
@import '@sass/inherence/_gridCenter.scss';
@import '@sass/inherence/_listStyle.scss';
@import '@sass/inherence/_totalSize.scss';

// Importa los archivos de la carpeta 'mixins'
@import '@sass/mixins/_buttonStyle.scss';
@import '@sass/mixins/_cardsStyle.scss';
@import '@sass/mixins/_formStyle.scss';
@import '@sass/mixins/_imageStyle.scss';
@import '@sass/mixins/_inputStyle.scss';
@import '@sass/mixins/_modalStyle.scss';

// Importa los archivos de la carpeta 'vendors'
@import '@sass/vendors/resetStyle.scss';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
