$formColors: (
  boxShadow:rgb(255, 255, 255),
  backGroundColor:rgba(255, 255, 255, 0.048),
  titleForm: rgba(255, 255, 255),
  textShadow: rgb(67, 224, 190),
  btnShadow: rgb(67, 224, 190),
  btnColor: rgb(0, 0, 0),
  btnBackground: rgba(255, 255, 255, 0.91)
);